/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.eintraege {
  mat-chip-list {
    .mat-chip-list-wrapper {
      margin: 0;
      width: 100%;
      .mat-standard-chip {
        margin: 4px 0;
      }
    }
  }
}
