.eintraege {
  &__chip-list {
    .mat-chip-list-wrapper {
      width: 100%;
    }
  }
  mat-chip {
    &.eintraege__chip {
      margin: 8px;
      justify-content: center;
      &--gt-md {
        &:nth-child(6n) {
          margin-right: 0;
        }
      }
      &--md {
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
      &--lt-md {
        margin: 8px 0;
        justify-content: left;
      }
    }
  }
  &__button-wrapper {
    margin: 16px;
  }
}
