<div class="eintraege">
  <mat-chip-list
    class="eintraege__chip-list"
    fxLayout="row wrap"
    fxLayoutAlign="flex-start"
  >
    <mat-chip
      *ngFor="let eintrag of eintraege$ | async"
      fxFlex="0 1 calc(16.6% - 16px)"
      fxFlex.md="0 1 calc(33.3% - 16px)"
      fxFlex.lt-md="0 1 100%"
      class="eintraege__chip"
      [ngClass.gt-md]="{ 'eintraege__chip--gt-md': true }"
      [ngClass.lt-md]="{ 'eintraege__chip--lt-md': true }"
      [ngClass.md]="{ 'eintraege__chip--md': true }"
      (click)="editExistingEintrag(eintrag)"
      >Todo: {{ eintrag.id }}</mat-chip
    >
  </mat-chip-list>
  <div class="eintraege__button-wrapper" fxLayout="row" fxLayoutAlign="end">
    <button mat-raised-button color="primary" (click)="addNewEintrag()">
      Neuer Eintrag
    </button>
  </div>
</div>
