@use 'farben';

.einwand-erheben-form {
  &__column-field {
    width: 48%;
  }

  &__row-field {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
  }
}

.unfall-data-list {
  padding: 16px;
  background-color: farben.$light-grey;
  margin-block-end: 18px;
  &__item {
    list-style-type: none;
    padding-bottom: 8px;
    &:last-of-type {
      padding-bottom: 0;
    }
  }
}
