<h2>data.dialogMode: {{ data.dialogMode }}</h2>

<form [formGroup]="editEintragForm" fxLayout="column" fxLayoutAlign="start">
  <mat-form-feild fxFlex>
    <mat-label>Beschreibung</mat-label>
    <input matInput formControlName="beschreibung" />
  </mat-form-feild>
  <mat-form-feild fxFlex>
    <mat-checkbox
      color="primary"
      formControlName="isStatusErledigt"
      [checked]="editEintragForm.value.isStatusErledigt === true"
      >Erledigt</mat-checkbox
    >
  </mat-form-feild>
  <mat-form-field fxFlex>
    <mat-datepicker-toggle
      [for]="faelligkeitsDatumPicker"
      matPrefix
    ></mat-datepicker-toggle>
    <mat-datepicker #faelligkeitsDatumPicker></mat-datepicker>
    <mat-label>FälligkeitsDatum</mat-label>
    <input
      matInput
      [matDatepicker]="faelligkeitsDatumPicker"
      formControlName="faelligkeitsDatum"
    />
  </mat-form-field>
</form>
<div
  class="eintraege-dialog-form__button-wrapper"
  fxLayout="row"
  fxLayoutAlign="end"
  fxLayoutGap="16px"
>
  <button
    *ngIf="data.dialogMode === EintragDialogModeOptionsEnum.editEintrag"
    mat-raised-button
    color="warn"
    (click)="deleteExistingEintrag()"
  >
    Eintrag Entfernen
  </button>

  <button
    *ngIf="data.dialogMode === EintragDialogModeOptionsEnum.editEintrag"
    mat-raised-button
    color="primary"
    (click)="editExistingEintrag()"
  >
    Eintrag Editieren
  </button>

  <button
    *ngIf="data.dialogMode === EintragDialogModeOptionsEnum.addEintrag"
    mat-raised-button
    color="primary"
    (click)="addNewEintrag()"
  >
    Eintrag Hinzufügen
  </button>
</div>
